In [1]:
import pandas as pd
import numpy as np
import sys, os
from IPython.display import display

In [17]:
# Declare all variables as strings. Spaces must be replaced with '+', i.e., change 'John Smith' to 'John+Smith'.
  # Define the lat, long of the location and the year
lat, lon = 39.1354, -77.2156
  # You must request an NSRDB api key from the link above
api_key = '9YugNx8TuYSPparpgZSoFWtCNEoZDhHdhbVNssPS'
  # Set the attributes to extract (e.g., dhi, ghi, etc.), separated by commas.
attributes = 'ghi,dhi,dni,wind_speed,air_temperature,cloud_type,solar_zenith_angle,surface_albedo,wind_direction,surface_pressure,relative_humidity,total_precipitable_water'
  # Choose year of data
#attributes = 'ghi,dhi,dni,wind_speed,air_temperature,solar_zenith_angle' 


  # Set leap year to true or false. True will return leap day data if present, false will not.
leap_year = 'false'
  # Set time interval in minutes, i.e., '30' is half hour intervals. Valid intervals are 30 & 60.
interval = '30'
  # Specify Coordinated Universal Time (UTC), 'true' will use UTC, 'false' will use the local time zone of the data.
  # NOTE: In order to use the NSRDB data in SAM, you must specify UTC as 'false'. SAM requires the data to be in the
  # local time zone.
utc = 'false'
  # Your full name, use '+' instead of spaces.
your_name = 'Elham+Amini'
  # Your reason for using the NSRDB.
reason_for_use = 'beta+testing'
  # Your affiliation
your_affiliation = 'my+institution'
  # Your email address
your_email = 'elhamfarvid@gmail.com'
  # Please join our mailing list so we can keep you up-to-date on new developments.
mailing_list = 'true'
def url_for_each_year(year="2015"): 
  # Declare url string
        year=year
        url = 'https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?wkt=POINT({lon}%20{lat})&names={year}&leap_day={leap}&interval={interval}&utc={utc}&full_name={name}&email={email}&affiliation={affiliation}&mailing_list={mailing_list}&reason={reason}&api_key={api}&attributes={attr}'.format(year=year, lat=lat, lon=lon, leap=leap_year, interval=interval, utc=utc, name=your_name, email=your_email, mailing_list=mailing_list, affiliation=your_affiliation, reason=reason_for_use, api=api_key, attr=attributes)

          # Return just the first 2 lines to get metadata:
        info = pd.read_csv(url, nrows=1)
          # See metadata for specified properties, e.g., timezone and elevation
        timezone, elevation = info['Local Time Zone'], info['Elevation']
        return info.columns.values
    
#call url_for_each_year and yaer by default is set to 2015 

url_for_each_year("2016")

array(['Source', 'Location ID', 'City', 'State', 'Country', 'Latitude',
       'Longitude', 'Time Zone', 'Elevation', 'Local Time Zone',
       'Clearsky DHI Units', 'Clearsky DNI Units', 'Clearsky GHI Units',
       'Dew Point Units', 'DHI Units', 'DNI Units', 'GHI Units',
       'Solar Zenith Angle Units', 'Temperature Units', 'Pressure Units',
       'Relative Humidity Units', 'Precipitable Water Units',
       'Wind Direction Units', 'Wind Speed', 'Cloud Type -15',
       'Cloud Type 0', 'Cloud Type 1', 'Cloud Type 2', 'Cloud Type 3',
       'Cloud Type 4', 'Cloud Type 5', 'Cloud Type 6', 'Cloud Type 7',
       'Cloud Type 8', 'Cloud Type 9', 'Cloud Type 10', 'Cloud Type 11',
       'Cloud Type 12', 'Fill Flag 0', 'Fill Flag 1', 'Fill Flag 2',
       'Fill Flag 3', 'Fill Flag 4', 'Fill Flag 5',
       'Surface Albedo Units', 'Version'], dtype=object)

In [19]:
# View metadata
info.columns.values

array(['Source', 'Location ID', 'City', 'State', 'Country', 'Latitude',
       'Longitude', 'Time Zone', 'Elevation', 'Local Time Zone',
       'Clearsky DHI Units', 'Clearsky DNI Units', 'Clearsky GHI Units',
       'Dew Point Units', 'DHI Units', 'DNI Units', 'GHI Units',
       'Solar Zenith Angle Units', 'Temperature Units', 'Pressure Units',
       'Relative Humidity Units', 'Precipitable Water Units',
       'Wind Direction Units', 'Wind Speed', 'Cloud Type -15',
       'Cloud Type 0', 'Cloud Type 1', 'Cloud Type 2', 'Cloud Type 3',
       'Cloud Type 4', 'Cloud Type 5', 'Cloud Type 6', 'Cloud Type 7',
       'Cloud Type 8', 'Cloud Type 9', 'Cloud Type 10', 'Cloud Type 11',
       'Cloud Type 12', 'Fill Flag 0', 'Fill Flag 1', 'Fill Flag 2',
       'Fill Flag 3', 'Fill Flag 4', 'Fill Flag 5',
       'Surface Albedo Units', 'Version'], dtype=object)

In [125]:
# Return all but first 2 lines of csv to get data:
def df_base_on_year(y="2015"):
            year=y
            url_for_each_year(year)
            df = pd.read_csv('https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?wkt=POINT({lon}%20{lat})&names={year}&leap_day={leap}&interval={interval}&utc={utc}&full_name={name}&email={email}&affiliation={affiliation}&mailing_list={mailing_list}&reason={reason}&api_key={api}&attributes={attr}'.format(year=year, lat=lat, lon=lon, leap=leap_year, interval=interval, utc=utc, name=your_name, email=your_email, mailing_list=mailing_list, affiliation=your_affiliation, reason=reason_for_use, api=api_key, attr=attributes), skiprows=2)

              # Set the time index in the pandas dataframe:
            df = df.set_index(pd.date_range('1/1/{yr}'.format(yr=year), freq=interval+'Min', periods=525600/int(interval)))

              # take a look
            print ('shape:',df.shape)
            print (df.head())
            return df
        
#this function by default seted to 2015        
df_base_on_year()

shape: (17520, 17)
                     Year  Month  Day  Hour  Minute  GHI  DHI  DNI  \
2015-01-01 00:00:00  2015      1    1     0       0    0    0    0
2015-01-01 00:30:00  2015      1    1     0      30    0    0    0
2015-01-01 01:00:00  2015      1    1     1       0    0    0    0
2015-01-01 01:30:00  2015      1    1     1      30    0    0    0
2015-01-01 02:00:00  2015      1    1     2       0    0    0    0

                     Wind Speed  Temperature  Cloud Type  Solar Zenith Angle  \
2015-01-01 00:00:00         1.6           -3           0              163.68
2015-01-01 00:30:00         1.6           -3           0              163.45
2015-01-01 01:00:00         1.6           -3           0              160.95
2015-01-01 01:30:00         1.6           -3           0              156.92
2015-01-01 02:00:00         1.7           -3           0              152.03

                     Surface Albedo  Wind Direction  Pressure  \
2015-01-01 00:00:00           0.129           254.0      1000
2015-01-01 00:30:00           0.129           254.0      1000
2015-01-01 01:00:00           0.129           242.9      1000
2015-01-01 01:30:00           0.129           242.9      1000
2015-01-01 02:00:00           0.129           235.4      1000

                     Precipitable Water  Relative Humidity
2015-01-01 00:00:00               0.378              73.50
2015-01-01 00:30:00               0.381              73.50
2015-01-01 01:00:00               0.385              73.68
2015-01-01 01:30:00               0.382              73.67
2015-01-01 02:00:00               0.380              73.72

,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind Speed,Temperature,Cloud Type,Solar Zenith Angle,Surface Albedo,Wind Direction,Pressure,Precipitable Water,Relative Humidity
2015-01-01 00:00:00,2015,1,1,0,0,0,0,0,1.6,-3,0,163.68,0.129,254.0,1000,0.378,73.50
2015-01-01 00:30:00,2015,1,1,0,30,0,0,0,1.6,-3,0,163.45,0.129,254.0,1000,0.381,73.50
2015-01-01 01:00:00,2015,1,1,1,0,0,0,0,1.6,-3,0,160.95,0.129,242.9,1000,0.385,73.68
2015-01-01 01:30:00,2015,1,1,1,30,0,0,0,1.6,-3,0,156.92,0.129,242.9,1000,0.382,73.67
2015-01-01 02:00:00,2015,1,1,2,0,0,0,0,1.7,-3,0,152.03,0.129,235.4,1000,0.380,73.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 21:30:00,2015,12,31,21,30,0,0,0,1.4,-3,0,142.13,0.129,258.2,1000,0.335,72.60
2015-12-31 22:00:00,2015,12,31,22,0,0,0,0,1.5,-3,0,147.71,0.129,259.6,1000,0.336,73.39
2015-12-31 22:30:00,2015,12,31,22,30,0,0,0,1.6,-3,0,153.00,0.129,259.6,1000,0.344,73.39
2015-12-31 23:00:00,2015,12,31,23,0,0,0,0,1.7,-3,0,157.77,0.129,259.0,1000,0.353,73.46
2015-12-31 23:30:00,2015,12,31,23,30,0,0,0,1.6,-3,0,161.57,0.129,259.0,1000,0.365,73.46

In [112]:
# Print column names
print (df.columns.values)

['Year' 'Month' 'Day' 'Hour' 'Minute' 'GHI' 'DHI' 'DNI' 'Wind Speed'
 'Temperature' 'Cloud Type' 'Solar Zenith Angle' 'Surface Albedo'
 'Wind Direction' 'Pressure' 'Precipitable Water' 'Relative Humidity']

In [129]:
df_2015=df_base_on_year() 
df_2015.to_csv("Resources/solar_data_2015.csv")

shape: (17520, 17)
                     Year  Month  Day  Hour  Minute  GHI  DHI  DNI  \
2015-01-01 00:00:00  2015      1    1     0       0    0    0    0
2015-01-01 00:30:00  2015      1    1     0      30    0    0    0
2015-01-01 01:00:00  2015      1    1     1       0    0    0    0
2015-01-01 01:30:00  2015      1    1     1      30    0    0    0
2015-01-01 02:00:00  2015      1    1     2       0    0    0    0

                     Wind Speed  Temperature  Cloud Type  Solar Zenith Angle  \
2015-01-01 00:00:00         1.6           -3           0              163.68
2015-01-01 00:30:00         1.6           -3           0              163.45
2015-01-01 01:00:00         1.6           -3           0              160.95
2015-01-01 01:30:00         1.6           -3           0              156.92
2015-01-01 02:00:00         1.7           -3           0              152.03

                     Surface Albedo  Wind Direction  Pressure  \
2015-01-01 00:00:00           0.129           254.0      1000
2015-01-01 00:30:00           0.129           254.0      1000
2015-01-01 01:00:00           0.129           242.9      1000
2015-01-01 01:30:00           0.129           242.9      1000
2015-01-01 02:00:00           0.129           235.4      1000

                     Precipitable Water  Relative Humidity
2015-01-01 00:00:00               0.378              73.50
2015-01-01 00:30:00               0.381              73.50
2015-01-01 01:00:00               0.385              73.68
2015-01-01 01:30:00               0.382              73.67
2015-01-01 02:00:00               0.380              73.72

In [130]:
df_2015.head()

,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind Speed,Temperature,Cloud Type,Solar Zenith Angle,Surface Albedo,Wind Direction,Pressure,Precipitable Water,Relative Humidity
2015-01-01 00:00:00,2015,1,1,0,0,0,0,0,1.6,-3,0,163.68,0.129,254.0,1000,0.378,73.50
2015-01-01 00:30:00,2015,1,1,0,30,0,0,0,1.6,-3,0,163.45,0.129,254.0,1000,0.381,73.50
2015-01-01 01:00:00,2015,1,1,1,0,0,0,0,1.6,-3,0,160.95,0.129,242.9,1000,0.385,73.68
2015-01-01 01:30:00,2015,1,1,1,30,0,0,0,1.6,-3,0,156.92,0.129,242.9,1000,0.382,73.67
2015-01-01 02:00:00,2015,1,1,2,0,0,0,0,1.7,-3,0,152.03,0.129,235.4,1000,0.380,73.72

In [133]:
df_2016=df_base_on_year("2016") 
df_2016.to_csv("Resources/solar_data_2016.csv")

shape: (17520, 17)
                     Year  Month  Day  Hour  Minute  GHI  DHI  DNI  \
2016-01-01 00:00:00  2016      1    1     0       0    0    0    0
2016-01-01 00:30:00  2016      1    1     0      30    0    0    0
2016-01-01 01:00:00  2016      1    1     1       0    0    0    0
2016-01-01 01:30:00  2016      1    1     1      30    0    0    0
2016-01-01 02:00:00  2016      1    1     2       0    0    0    0

                     Wind Speed  Temperature  Cloud Type  Solar Zenith Angle  \
2016-01-01 00:00:00         1.1            2           8              163.71
2016-01-01 00:30:00         1.1            2           8              163.46
2016-01-01 01:00:00         1.1            2           8              160.96
2016-01-01 01:30:00         1.1            1           8              156.92
2016-01-01 02:00:00         1.2            1           8              152.02

                     Surface Albedo  Wind Direction  Pressure  \
2016-01-01 00:00:00           0.123           323.0      1000
2016-01-01 00:30:00           0.123           323.0      1000
2016-01-01 01:00:00           0.123           318.8      1000
2016-01-01 01:30:00           0.123           318.8      1000
2016-01-01 02:00:00           0.123           315.9      1000

                     Precipitable Water  Relative Humidity
2016-01-01 00:00:00               0.933              94.73
2016-01-01 00:30:00               0.927              94.73
2016-01-01 01:00:00               0.921              91.83
2016-01-01 01:30:00               0.919              91.82
2016-01-01 02:00:00               0.918              90.71

In [134]:
df_2017=df_base_on_year("2017") 
df_2017.to_csv("Resources/solar_data_2017.csv")

shape: (17520, 17)
                     Year  Month  Day  Hour  Minute  GHI  DHI  DNI  \
2017-01-01 00:00:00  2017      1    1     0       0    0    0    0
2017-01-01 00:30:00  2017      1    1     0      30    0    0    0
2017-01-01 01:00:00  2017      1    1     1       0    0    0    0
2017-01-01 01:30:00  2017      1    1     1      30    0    0    0
2017-01-01 02:00:00  2017      1    1     2       0    0    0    0

                     Wind Speed  Temperature  Cloud Type  Solar Zenith Angle  \
2017-01-01 00:00:00         1.7            0           4              163.63
2017-01-01 00:30:00         1.6            0           4              163.42
2017-01-01 01:00:00         1.6            0           1              160.94
2017-01-01 01:30:00         1.5            0           1              156.93
2017-01-01 02:00:00         1.5            0           0              152.04

                     Surface Albedo  Wind Direction  Pressure  \
2017-01-01 00:00:00           0.129           225.9       990
2017-01-01 00:30:00           0.129           225.9       990
2017-01-01 01:00:00           0.129           228.3       990
2017-01-01 01:30:00           0.129           228.3      1000
2017-01-01 02:00:00           0.129           231.0      1000

                     Precipitable Water  Relative Humidity
2017-01-01 00:00:00               1.353              86.28
2017-01-01 00:30:00               1.280              86.29
2017-01-01 01:00:00               1.208              85.35
2017-01-01 01:30:00               1.134              85.38
2017-01-01 02:00:00               1.061              85.42

In [136]:
df_2017.head()

,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind Speed,Temperature,Cloud Type,Solar Zenith Angle,Surface Albedo,Wind Direction,Pressure,Precipitable Water,Relative Humidity
2017-01-01 00:00:00,2017,1,1,0,0,0,0,0,1.7,0,4,163.63,0.129,225.9,990,1.353,86.28
2017-01-01 00:30:00,2017,1,1,0,30,0,0,0,1.6,0,4,163.42,0.129,225.9,990,1.280,86.29
2017-01-01 01:00:00,2017,1,1,1,0,0,0,0,1.6,0,1,160.94,0.129,228.3,990,1.208,85.35
2017-01-01 01:30:00,2017,1,1,1,30,0,0,0,1.5,0,1,156.93,0.129,228.3,1000,1.134,85.38
2017-01-01 02:00:00,2017,1,1,2,0,0,0,0,1.5,0,0,152.04,0.129,231.0,1000,1.061,85.42

In [135]:
df_2018=df_base_on_year("2018") 
df_2018.to_csv("Resources/solar_data_2018.csv")

shape: (17520, 17)
                     Year  Month  Day  Hour  Minute  GHI  DHI  DNI  \
2018-01-01 00:00:00  2018      1    1     0       0    0    0    0
2018-01-01 00:30:00  2018      1    1     0      30    0    0    0
2018-01-01 01:00:00  2018      1    1     1       0    0    0    0
2018-01-01 01:30:00  2018      1    1     1      30    0    0    0
2018-01-01 02:00:00  2018      1    1     2       0    0    0    0

                     Wind Speed  Temperature  Cloud Type  Solar Zenith Angle  \
2018-01-01 00:00:00         1.7        -11.2           0              163.65
2018-01-01 00:30:00         1.7        -11.3           0              163.43
2018-01-01 01:00:00         1.7        -11.4           0              160.95
2018-01-01 01:30:00         1.7        -11.5           0              156.93
2018-01-01 02:00:00         1.8        -11.5           0              152.04

                     Surface Albedo  Wind Direction  Pressure  \
2018-01-01 00:00:00            0.87             313      1014
2018-01-01 00:30:00            0.87             314      1015
2018-01-01 01:00:00            0.87             316      1015
2018-01-01 01:30:00            0.87             317      1015
2018-01-01 02:00:00            0.87             318      1015

                     Precipitable Water  Relative Humidity
2018-01-01 00:00:00                 0.3              76.91
2018-01-01 00:30:00                 0.3              77.61
2018-01-01 01:00:00                 0.3              78.65
2018-01-01 01:30:00                 0.2              79.28
2018-01-01 02:00:00                 0.2              79.31