In [2]:
import pandas as pd
from pathlib import Path
import re
from datetime import datetime as dt
import glob
import os

In [3]:
# Loading the preprocessed nrel dataset

url = "https://raw.githubusercontent.com/jpburgess/Solar-Panel-Potential-Energy/main/Resources/solar_data_2015.csv"

url1 = "https://raw.githubusercontent.com/jpburgess/Solar-Panel-Potential-Energy/main/Resources/solar_data_2016.csv"

url2 = "https://raw.githubusercontent.com/jpburgess/Solar-Panel-Potential-Energy/main/Resources/solar_data_2017.csv"

url3 = "https://raw.githubusercontent.com/jpburgess/Solar-Panel-Potential-Energy/main/Resources/solar_data_2018.csv"

solar_nrel = pd.read_csv(url)
solar_nrel1 = pd.read_csv(url1)
solar_nrel2 = pd.read_csv(url2)
solar_nrel3 = pd.read_csv(url3)

In [4]:
solar_nrel3.dtypes

Unnamed: 0             object
Year                    int64
Month                   int64
Day                     int64
Hour                    int64
Minute                  int64
GHI                     int64
DHI                     int64
DNI                     int64
Wind Speed            float64
Temperature           float64
Cloud Type              int64
Solar Zenith Angle    float64
Surface Albedo        float64
Wind Direction          int64
Pressure                int64
Precipitable Water    float64
Relative Humidity     float64
dtype: object

In [5]:
solar_nrel["Unnamed: 0"] = pd.to_datetime(solar_nrel["Unnamed: 0"])
solar_nrel1["Unnamed: 0"] = pd.to_datetime(solar_nrel1["Unnamed: 0"])
solar_nrel2["Unnamed: 0"] = pd.to_datetime(solar_nrel2["Unnamed: 0"])
solar_nrel3["Unnamed: 0"] = pd.to_datetime(solar_nrel3["Unnamed: 0"])

In [6]:
# REFORMAT DATETIME HERE?

In [7]:
solar_nrel3.dtypes

Unnamed: 0            datetime64[ns]
Year                           int64
Month                          int64
Day                            int64
Hour                           int64
Minute                         int64
GHI                            int64
DHI                            int64
DNI                            int64
Wind Speed                   float64
Temperature                  float64
Cloud Type                     int64
Solar Zenith Angle           float64
Surface Albedo               float64
Wind Direction                 int64
Pressure                       int64
Precipitable Water           float64
Relative Humidity            float64
dtype: object

In [8]:
solar_nrel = solar_nrel.rename(columns={'Unnamed: 0':'TIMESTAMP'})
solar_nrel1 = solar_nrel1.rename(columns={'Unnamed: 0':'TIMESTAMP'})
solar_nrel2 = solar_nrel2.rename(columns={'Unnamed: 0':'TIMESTAMP'})
solar_nrel3 = solar_nrel3.rename(columns={'Unnamed: 0':'TIMESTAMP'})

In [9]:
solar_nrel3

,TIMESTAMP,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind Speed,Temperature,Cloud Type,Solar Zenith Angle,Surface Albedo,Wind Direction,Pressure,Precipitable Water,Relative Humidity
0,2018-01-01 00:00:00,2018,1,1,0,0,0,0,0,1.7,-11.2,0,163.65,0.87,313,1014,0.3,76.91
1,2018-01-01 00:30:00,2018,1,1,0,30,0,0,0,1.7,-11.3,0,163.43,0.87,314,1015,0.3,77.61
2,2018-01-01 01:00:00,2018,1,1,1,0,0,0,0,1.7,-11.4,0,160.95,0.87,316,1015,0.3,78.65
3,2018-01-01 01:30:00,2018,1,1,1,30,0,0,0,1.7,-11.5,0,156.93,0.87,317,1015,0.2,79.28
4,2018-01-01 02:00:00,2018,1,1,2,0,0,0,0,1.8,-11.5,0,152.04,0.87,318,1015,0.2,79.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2018-12-31 21:30:00,2018,12,31,21,30,0,0,0,2.0,-10.4,0,142.09,0.87,320,1014,0.3,69.50
17516,2018-12-31 22:00:00,2018,12,31,22,0,0,0,0,1.9,-10.5,0,147.67,0.87,318,1014,0.3,70.88
17517,2018-12-31 22:30:00,2018,12,31,22,30,0,0,0,1.8,-10.7,4,152.96,0.87,316,1014,0.3,72.01
17518,2018-12-31 23:00:00,2018,12,31,23,0,0,0,0,1.8,-10.9,0,157.72,0.87,315,1014,0.3,74.25
17519,2018-12-31 23:30:00,2018,12,31,23,30,0,0,0,1.7,-11.1,0,161.52,0.87,314,1014,0.3,75.44

In [10]:
# len(solar_nrel.index)
# len(solar_nrel.columns)

solar_nrel3.shape

(17520, 18)

In [11]:
solar_nrel.to_csv("nrel_2015.csv")
solar_nrel1.to_csv("nrel_2016.csv")
solar_nrel2.to_csv("nrel_2017.csv")
solar_nrel3.to_csv("nrel_2018.csv")

In [ ]:
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))

for f in csv_files:
    
    panel_df = pd.read_csv(f)

    panel_timestamp = panel_df[[
    'TIMESTAMP',]]

    panel_timestamp = pd.to_datetime(panel_df["TIMESTAMP"])

    panel_df["TIMESTAMP"] = panel_timestamp.dt.strftime("%Y-%m-%d %H:%M:%S")

    panel_timestamp.dropna()

    panel_db = panel_df[["TIMESTAMP", "InvPDC_kW_Avg"]]

    panel_db.to_csv(f)

    print('Location:', f)
    print('File Name:', f.split("\\")[-1])

    display(panel_db)
    print()


# Citations: https://www.geeksforgeeks.org/how-to-read-all-csv-files-in-a-folder-in-pandas/

In [ ]:
    # panel_timestamp = panel_df[[
    # 'TIMESTAMP', ]]

In [ ]:
# filepath = Path("onemin-Canopy-2015-01-01.csv")
# panel_df = pd.read_csv(filepath)
# panel_df.head()

In [ ]:
# panel_timestamp = panel_df[[
#     'TIMESTAMP',
# ]]
# # panel_timestamp

In [ ]:
# panel_timestamp.dropna()

In [ ]:
# panel_timestamp.dtypes

In [ ]:
# panel_df["TIMESTAMP"] = pd.to_datetime(panel_df["TIMESTAMP"])
# panel_df

In [ ]:
# panel_df = panel_df["TIMESTAMP"].dt.strftime("%Y-%m-%d %H:%M:%S")
# panel_df

In [ ]:
# panel_df.dtypes

In [ ]:
# panel_df["TIMESTAMP"] = panel_timestamp.dt.strftime("%Y-%m-%d %H:%M:%S")

In [ ]:
# DataFrame Checkpoint

panel_df

In [ ]:
# t = r"(\d{4})-(\d{2})-(\d{2})(\s)(\d{2}):(\d{2}):(\d{2})"
# t2 = r"(\d{4})-(\d{2})-(\d{2})(\s)([0-2][0-3]):(30):(\d{2})"

# panel_timestamp[panel_timestamp["TIMESTAMP"].str.contains(t)]

In [ ]:
# panel_df['TIMESTAMP'] = pd.to_datetime(panel_timestamp['TIMESTAMP'], format="%m/%d/%Y %I:%M:%S %p")

# Weather Station Data

In [1]:
path = Path('Resources/ws_2015/01/onemin-WS_1-2015-01-01.csv')
csv_files = glob.glob(os.path.join(path, "*.csv"))

for f in csv_files:
        
    panel_df = pd.read_csv(f)

    panel_timestamp = panel_df[[
    'TIMESTAMP',]]

    panel_timestamp.dropna()

    panel_timestamp = pd.to_datetime(panel_df["TIMESTAMP"])

    panel_df["TIMESTAMP"] = panel_timestamp.dt.strftime("%Y-%m-%d %H:%M:%S")

    print('Location:', f)
    print('File Name:', f.split("\\")[-1])

    print('Content:')
    display(panel_df)
    print()


# Citations: https://www.geeksforgeeks.org/how-to-read-all-csv-files-in-a-folder-in-pandas/

NameError: name 'Path' is not defined